
.container {
  min-height: 95vh;
  border-bottom: 1px gainsboro solid;
  padding: 0px;
}

.header {
  padding: 20px 0px 0px 0px;
  border-bottom: 1px gainsboro solid;
 }

.main {
  /* border-bottom: 1px gainsboro solid; */
  /* display: flex; */
  border: 0px red solid;
  height: 100%;
  padding: 10px 0px 0px 15px;

 }
