
.container {
  min-height: 95vh;
  border-bottom: 1px gainsboro solid;
  padding: 0px;
}

.header {
  padding: 20px 0px 0px 0px;
  border-bottom: 1px gainsboro solid;
 }

.main {
  /* border-bottom: 1px gainsboro solid; */
  /* display: flex; */
  border: 0px red solid;
  height: 100%;
  padding: 10px 0px 0px 15px;
  /* min-height: 50vh; */
    /* margin: 0px 0px 0px 15px; */
    /* font-size: 20px;
    color: black;
    opacity: 1.0;
    display: inline-block; */
    /* margin: auto; */
    /* width: 100%; */
    /* border: 1px greenyellow dotted;
    width: 100%; */
 }
